.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.homeContainer {
 margin-top: 20px;
}

.searchContainer {
 margin-bottom: 20px;
}

.search {
  width: 70%;
  height: 30px;
  border-width: 0px;
  background-color: #f1f1f1;
  border-radius: 8px;
  padding: 10px
}

.listContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: block;
  width: 70%;
}

.contactContainer {
  display: flex;
  margin-bottom:20px;
  background: linear-gradient(.25turn, rgb(247, 236, 236), 10%, rgb(248, 232, 217));
  padding: 20px;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
}

.avatar {
  width: 15%;
  height: 15%;
  border-radius: 50%;
  border: 1px solid #cacaca;
}

.contactName {
  margin-left: 10px;
}


.cardContainer {
  background-color: #fefefe;
  margin: 10px;
  padding: 10px
}

.cardImage{
  display: block;
}

.cardImage :hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.cardText {
  padding: 10px;
  text-align: center;
}

.location {
  display: inline-block;
  margin: 10px;
  font-size: 15px
}

.card-user-container .card-user-button {
  text-align: center;
  padding: 1rem;
}
